<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>

<title>Setation</title>
<div align='center'><a href=/query>	
<img src="/static/logo.png"></a>
<h2><font face="helvetica">An Interactive Biomedical Search Engine</font></h2>
<h3><font face="helvetica">About Setation:</font></h3>

<style type="text/css">
.wrapper {
		width:65%;
		margin: 0 auto;
		background-color: #f1f1f1;
		border-radius: 6px;
}

</style>
</head>


<body>
<div class="wrapper"><font face="Times New Roman">

Setation works by separately compiling MEDLINE search results for each query input term. 
Resulting abstracts for each search are separated into words, phrases up to four words, and MeSH (medical subject headings) terms. 
These items are counted and stored in a file for each input. All files are then combined to produce the final results. 
The resulting list is sorted by the largest network of input terms that contain each item and then by total frequency.
Setation uses pattern recognition, statistical methods, and database comparison algorithms to find the most common implicit keywords, potentially associated genes and diseases, and MeSH terms for the set. 
Data network visualizations using Cytoscape Web enable the users to comprehend the complex interactions among the results.   
Medline literature is accessed using the Entrez API and BioPython.


<br><br>

<img src="/static/input_new.png"></a>
<br>
<img src="/static/input_new1.png"></a>
<br><br>
Table 1. Input recognition results for BRCA1 and BRCA2
<br><br>
Each input is analyzed for type including gene, disease, and treatment. 
Gene information such as other aliases, description, and organism are provided. 
Top results for associated diseases and genes are returned for each input. 
Analysis of each input is important to complete before full list analysis.
If the input is not found in a categorical database, learning algorithms attempt to place the input according to data signature. 
<br>
<img src="/static/mergednet.png" style="width:750px; height:750px;" ></a><br>
Figure 1. Cytoscape visualization layout of breast cancer and Alzheimer&#39;s disease gene lists potentially associated diseases.
<br>

<img src="/static/netgenes.png" style="width:750px; height:750px;"></a><br>
Figure 2. Cytoscape visualization of breast cancer and Alzheimer&#39;s disease gene lists potentially associated genes<br>



</font>

</div>
</body>



</html>