<!doctype html>
<head>
<style type="text/css">
  #container {
    max-width: 800px;
    height: 800px;
    margin: auto;
  }
</style>
</head>
<div id="container"></div>
<script src="{{ url_for('static', filename='sigma.min.js')}}"></script>
<script src="{{ url_for('static', filename='sigma.parsers.json.min.js')}}"></script>
<script src="{{ url_for('static', filename='sigma.parsers.gexf.min.js')}}"></script>

<script>
  sigma.parsers.json('/static/graph-test.json', {
    container: 'container',
    settings: {
      defaultNodeColor: '#ec5148'
    }
  });
</script>
</html>