<!doctype html>
<title>Money Project</title>
<head></head>
<body>
<h1>
    Welcome to the Money Project Recommender System for Medline
</h1>
</p>
 <form action="/query" method="POST">
    <p><input type=text name=keyword placeholder="Subject" />
        <input type=text name=predication placeholder="Predication" />
        <input type=text name=object placeholder="Object"/></p>
    <p><input type=submit value=Submit /></p>
</form>
{% if keyword %}
<h2>Searching for <strong>{{ keyword }}</strong></h2>
{% if error %}
<p><font color="red">{{ error }}</font></p>
{% else %}
{{ results|safe }}
{% endif %}
{% endif%}


</body>
